Repository gwastro/pycbc, pull requests merged in 2018-09, with the labels that each got.

#2309 Prevent sampling_transforms from becoming all_transforms
  bin/inference/pycbc_inference
Labels: bug, inference

#2287 Allow mode array support in injection hdf files and fix bug with current implementation
  pycbc/inject/inject.py
  pycbc/waveform/parameters.py
  pycbc/waveform/waveform.py
Labels: bug

#2312 Add ability to read beta values in emcee_pt from external file
  pycbc/inference/option_utils.py
  pycbc/inference/sampler_emcee.py
  test/test_inference.py
Labels: inference

#2353 Update plot prior and remove corner
  bin/inference/pycbc_inference_plot_prior
  requirements.txt
  setup.py
Labels: inference

#2358 update plot_geweke to new code design in PyCBC Inference
  bin/inference/pycbc_inference_plot_geweke
  pycbc/inference/io/__init__.py
  pycbc/inference/io/base_hdf.py
  pycbc/inference/io/base_multitemper.py
Labels: inference

#2361 Pycbc plot samples fix
  bin/inference/pycbc_inference_plot_samples
Labels: inference
