Repository gwastro/pycbc, pull requests merged in 2019-05, with the labels that each got.

#2662 change coinc options to allow multiple decimation levels
  bin/hdfcoinc/pycbc_coinc_findtrigs
  bin/hdfcoinc/pycbc_multiifo_coinc_findtrigs
Labels: offline search

#2666 start / end should apply to veto category flag
  pycbc/dq.py
Labels: offline search

#2661 update io to reduce memory useage
  bin/minifollowups/pycbc_page_coincinfo
  bin/minifollowups/pycbc_page_snglinfo
  bin/minifollowups/pycbc_sngl_minifollowup
  pycbc/io/hdf.py
Labels: offline search

#2667 Warning message if sampling_params is not provided
  pycbc/inference/models/base.py
Labels: inference

#2681 fixes to multi-ifo version
  bin/hdfcoinc/pycbc_multiifo_coinc_findtrigs
Labels: offline search

#2683 Config file sanity check for inference
  pycbc/distributions/__init__.py
Labels: enhancement, inference

#2668 Evidence calculations module
  pycbc/inference/evidence.py
Labels: enhancement, inference

#2686 PyCBC Inference, TI integrand, "Gooseneck" plots
  bin/inference/pycbc_inference_plot_thermodynamic_integrand
Labels: enhancement, inference

#2496 Add support for multinest
  pycbc/distributions/angular.py
  pycbc/distributions/gaussian.py
  pycbc/distributions/masses.py
  pycbc/distributions/power_law.py
  pycbc/distributions/uniform.py
  pycbc/distributions/uniform_log.py
  pycbc/inference/io/__init__.py
  pycbc/inference/io/multinest.py
  pycbc/inference/sampler/__init__.py
  pycbc/inference/sampler/multinest.py
Labels: inference

#2626 Re-enable using different low frequency cutoffs for different detectors
  examples/inference/bbh-injection/inference.ini
  examples/inference/bbh-injection/run.sh
  examples/inference/gw150914/inference.ini
  examples/inference/gw150914/run.sh
  examples/inference/gw150914/run_test.sh
  pycbc/inference/models/gaussian_noise.py
  pycbc/inference/models/marginalized_gaussian_noise.py
  pycbc/inference/option_utils.py
Labels: inference

#2487 WIP: Add support for CPNest
  pycbc/inference/io/__init__.py
  pycbc/inference/io/cpnest.py
  pycbc/inference/io/posterior.py
  pycbc/inference/sampler/__init__.py
  pycbc/inference/sampler/cpnest.py
  requirements.txt
Labels: inference

#2688 delete uniform component masses distribution
  examples/distributions/example.ini
  pycbc/distributions/__init__.py
  pycbc/distributions/masses.py
  test/test_distributions.py
Labels: inference

#2691 Account for thinning in plot ACF
  bin/inference/pycbc_inference_plot_acf
Labels: inference

#2694 Fix extract samples
  bin/inference/pycbc_inference_extract_samples
  pycbc/inference/io/__init__.py
  pycbc/inference/io/base_hdf.py
  pycbc/inference/io/base_sampler.py
  pycbc/inference/io/cpnest.py
  pycbc/inference/io/emcee.py
  pycbc/inference/io/emcee_pt.py
  pycbc/inference/io/multinest.py
  pycbc/inference/io/posterior.py
Labels: inference

#2684 Plot average chains for parameters by default
  bin/inference/pycbc_inference_plot_samples
Labels: enhancement, inference

#2695 don't hard require cpnest
  pycbc/inference/sampler/__init__.py
Labels: inference

#2696 Fix inference workflow
  bin/hdfcoinc/pycbc_plot_psd_file
  bin/workflows/pycbc_make_inference_workflow
  pycbc/workflow/inference_followups.py
  pycbc/workflow/plotting.py
Labels: inference

#2690 Fixes to plot ACL
  bin/inference/pycbc_inference_plot_acl
Labels: inference

#2672 Live: add ability to output background
  bin/pycbc_live
Labels: low latency

#2709 Fix py3 error when analytical PSD length is not int
  pycbc/psd/analytical.py
Labels: python3

#2736 Don't send ifos to plot_spectrum - it can fail
  pycbc/workflow/plotting.py
Labels: offline search

#2735 Allow statistic files in single_minifollowup
  bin/minifollowups/pycbc_sngl_minifollowup
  bin/workflows/pycbc_make_coinc_search_workflow
  pycbc/io/hdf.py
  pycbc/workflow/minifollowups.py
Labels: offline search
