Repository gwastro/pycbc, pull requests merged in 2019-02, with the labels that each got.

#2419 optimized model for only calculating the extrinsic parameters
  pycbc/inference/models/__init__.py
  pycbc/inference/models/single_template.py
Labels: inference

#2480 Cythonize apply fd time shift
  pycbc/waveform/utils_cpu.py
  pycbc/waveform/utils_cpu.pyx
  setup.py
  test/test_waveform_utils.py
Labels: python3

#2435 Remove unnecessary and impossible automatic transforms
  pycbc/transforms.py
Labels: inference

#2501 Add zero likelihood analytic model
  pycbc/inference/models/__init__.py
  pycbc/inference/models/analytic.py
Labels: inference

#2492 Thin inference samples on the fly
  docs/inference.rst
  examples/inference/bbh-injection/inference.ini
  examples/inference/gw150914/inference.ini
  pycbc/inference/burn_in.py
  pycbc/inference/io/__init__.py
  pycbc/inference/io/base_hdf.py
  pycbc/inference/io/base_mcmc.py
  pycbc/inference/io/base_multitemper.py
  pycbc/inference/sampler/base.py
  pycbc/inference/sampler/base_mcmc.py
  pycbc/inference/sampler/emcee.py
  pycbc/inference/sampler/emcee_pt.py
Labels: inference

#2521 Only use ACL from nacl test if it is the only test being done
  pycbc/inference/burn_in.py
Labels: bug, inference

#2524 Fix marginal phase
  pycbc/inference/models/__init__.py
  pycbc/inference/models/marginalized_gaussian_noise.py
Labels: inference

#2525 Only allow master process to print to screen when using mpi
  bin/inference/pycbc_inference
Labels: inference

#2526 Turnoff recalculating Jacobian in emcee pt
  pycbc/inference/sampler/emcee_pt.py
Labels: inference

#2528 Allow plot posterior dpi to be set on command line
  bin/inference/pycbc_inference_plot_posterior
Labels: inference
