Repository gwastro/pycbc, pull requests merged in 2020-03, with the labels that each got.

#3177 Fix pycbc_banksim for Python 3
  bin/pycbc_banksim
Labels: python3

#3175 Don't have a separate section for posterior parameters
  pycbc/workflow/inference_followups.py
Labels: inference

#3179 Optionally import epsie file
  pycbc/inference/io/__init__.py
Labels: inference

#3182 Add dump/load state functions from epsie
  pycbc/inference/io/__init__.py
  pycbc/inference/io/base_hdf.py
Labels: inference

#3185 Add found Injtable to workflow
  bin/hdfcoinc/pycbc_page_injtable
  bin/workflows/pycbc_create_offline_search_workflow
Labels: offline search

#3187 Update pp workflow
  bin/inference/pycbc_inference_plot_inj_recovery
  bin/pycbc_create_injections
  bin/workflows/pycbc_make_inference_inj_workflow
  bin/workflows/pycbc_make_inference_plots_workflow
  bin/workflows/pycbc_make_inference_workflow
  pycbc/inject/inject.py
  pycbc/workflow/core.py
  pycbc/workflow/inference_followups.py
  pycbc/workflow/jobsetup.py
  pycbc/workflow/pegasus_workflow.py
Labels: inference

#3186 Add in Gracedb search functionality to results page
  bin/minifollowups/pycbc_page_coincinfo
  bin/minifollowups/pycbc_page_snglinfo
  pycbc/results/followup.py
Labels: offline search

#3189 Add live single trigger fitting scripts
  bin/live/pycbc_live_combine_single_fits
  bin/live/pycbc_live_single_trigger_fits
Labels: low latency

#3188 Minor bugfix in data opts reading from config
  pycbc/inference/models/data_utils.py
Labels: bug, inference

#3191 Fix issues with banksim code
  bin/plotting/pycbc_banksim_plot_fitting_factors
  bin/pycbc_banksim_match_combine
Labels: python3

#3190 Start to add in codes for inclusion of offline singles
  bin/hdfcoinc/pycbc_multiifo_coinc_findtrigs
  bin/hdfcoinc/pycbc_multiifo_sngls_findtrigs
  pycbc/events/stat.py
  pycbc/io/hdf.py
Labels: enhancement, offline search, work in progress

#3199 Bug: Turn off removing common offsets in plot posterior and correctly set 1D marginal plot limits
  pycbc/results/scatter_histograms.py
Labels: bug, inference
