Repository gwastro/pycbc, pull requests merged in 2020-02, with the labels that each got.

#3124 Apply remapped params to prior in plot posterior
  bin/inference/pycbc_inference_plot_posterior
Labels: inference

#3077 Add calculation of source type probabilities to PyCBC Live
  bin/pycbc_live
  pycbc/io/live.py
  pycbc/mchirp_area.py
  pycbc/results/color.py
Labels: enhancement, low latency

#3135 Correct jacobian for emcee pt
  pycbc/inference/sampler/emcee_pt.py
Labels: inference

#3126 Allow FromFile distribution to use posterior files
  pycbc/distributions/arbitrary.py
Labels: enhancement, python3

#3137 Sort attr arrays before comparing them in extract_samples
  bin/inference/pycbc_inference_extract_samples
Labels: bug, inference

#3129 make it easier to conver to ndarray from pycbc array: speeds up a bunch of things!
  pycbc/types/array.py
Labels: enhancement, inference

#3121 Fix plot movie
  bin/inference/pycbc_inference_plot_movie
Labels: bug, inference

#3138 Allow parameters to be read from py2 inference file in py3
  pycbc/inference/io/__init__.py
Labels: inference, python3

#3144 Restore condor checkpointing in inference
  bin/workflows/pycbc_make_inference_workflow
  pycbc/workflow/jobsetup.py
Labels: bug, inference

#3149 Extend source classification to all kinds of GraceDB uploads
  bin/pycbc_live
  bin/pycbc_optimize_snr
  pycbc/io/hdf.py
  pycbc/mchirp_area.py
Labels: low latency

#3147 Separate the ordered ifo list from the number of detectors in tags
  bin/workflows/pycbc_create_offline_search_workflow
Labels: offline search

#3150 Executable to create summary of PP test
  bin/inference/pycbc_inference_pp_table_summary
Labels: enhancement, inference

#3151 Keep groups when extracting posterior from multiple files
  bin/inference/pycbc_inference_extract_samples
Labels: inference

#2948 Setting initial conditions from checkpoint files
  bin/inference/pycbc_inference
  pycbc/inference/sampler/base.py
  pycbc/inference/sampler/base_mcmc.py
  pycbc/inference/sampler/cpnest.py
  pycbc/inference/sampler/dynesty.py
  pycbc/inference/sampler/emcee.py
  pycbc/inference/sampler/emcee_pt.py
  pycbc/inference/sampler/multinest.py
Labels: inference

#3146 Add functions to set matplotlib style
  bin/hdfcoinc/pycbc_plot_psd_file
  bin/inference/pycbc_inference_plot_movie
  bin/inference/pycbc_inference_plot_posterior
  pycbc/results/plot.py
Labels: enhancement

#3154 Add wildcard to parameters option
  pycbc/inference/io/__init__.py
Labels: enhancement, inference

#3148 Percentile-percentile plot upgrades
  bin/inference/pycbc_inference_plot_pp
Labels: enhancement, inference

#3152 Option to map injection parameters to inference samples
  bin/inference/pycbc_inference_plot_inj_recovery
  bin/inference/pycbc_inference_plot_pp
  bin/inference/pycbc_inference_pp_table_summary
  pycbc/inference/io/__init__.py
  pycbc/inference/option_utils.py
Labels: inference

#3156 PyCBC Live: fix reported times for single-detector triggers
  bin/pycbc_live
Labels: low latency

#3162 Fix setup_output calls
  pycbc/inference/sampler/base.py
  pycbc/inference/sampler/cpnest.py
  pycbc/inference/sampler/dynesty.py
  pycbc/inference/sampler/multinest.py
Labels: bug, inference

#3163 Add epsie
  pycbc/boundaries.py
  pycbc/inference/io/__init__.py
  pycbc/inference/io/base_mcmc.py
  pycbc/inference/io/base_multitemper.py
  pycbc/inference/io/base_sampler.py
  pycbc/inference/io/epsie.py
  pycbc/inference/jump/__init__.py
  pycbc/inference/jump/normal.py
  pycbc/inference/sampler/__init__.py
  pycbc/inference/sampler/base_multitemper.py
  pycbc/inference/sampler/emcee_pt.py
  pycbc/inference/sampler/epsie.py
  requirements.txt
Labels: enhancement, inference

#3164 don't hard require epsie
  pycbc/inference/sampler/__init__.py
Labels: inference

#3139 add very basic support for ultranest sampler
  companion.txt
  pycbc/inference/io/__init__.py
  pycbc/inference/io/ultranest.py
  pycbc/inference/sampler/__init__.py
  pycbc/inference/sampler/base_cube.py
  pycbc/inference/sampler/dynesty.py
  pycbc/inference/sampler/ultranest.py
Labels: inference
