Repository gwastro/pycbc, pull requests merged in 2020-10, with the labels that each got.

#3480 Fix typo in example workflow config and other cleanup
  docs/workflow/pycbc_make_inference_inj_workflow.rst
  docs/workflow/pycbc_make_inference_workflow.rst
  examples/workflow/inference/gw150914_gw170814-dynesty/workflow_config.ini
  examples/workflow/inference/gw150914_gw170814-emcee_pt/workflow_config.ini
  examples/workflow/inference/inference.ini
  examples/workflow/inference/inj_workflow_config.ini
  examples/workflow/inference/run_pycbc_make_inference_inj_workflow.sh
  examples/workflow/inference/run_pycbc_make_inference_workflow.sh
  examples/workflow/inference/run_pycbc_make_inference_workflow_2.sh
  examples/workflow/inference/workflow_config.ini
Labels: inference

#3433 avoid contains or conversions when not needed in joint dist
  pycbc/distributions/joint.py
Labels: inference

#3470 allow one to set the parameters for the first bounding region in dynesty
  pycbc/inference/sampler/dynesty.py
  pycbc/inference/sampler/ptemcee.py
Labels: inference

#3444 make start file from dynesty output
  bin/inference/pycbc_inference_start_from_samples
Labels: inference

#3491 coinc_lim_for_thresh for BBH statistics
  pycbc/events/stat.py
Labels: offline search

#3499 MCMC history diagnostic plot
  bin/inference/pycbc_inference_plot_mcmc_history
Labels: inference

#3496 Adding dynesty diagnostic plots
  bin/inference/pycbc_inference_plot_dynesty_run
  bin/inference/pycbc_inference_plot_dynesty_traceplot
  pycbc/inference/sampler/dynesty.py
Labels: inference

#3501 Add support for dynesty debugging plots in workflow
  pycbc/workflow/inference_followups.py
Labels: inference

#3503 Write logevidence and dloz at the 'finalize' step
  pycbc/inference/sampler/dynesty.py
Labels: inference

#3505 Write config file to inference file
  bin/inference/pycbc_inference
  pycbc/inference/io/base_hdf.py
Labels: inference

#3506 Script to calculate stats, write to file
  bin/inference/pycbc_inference_model_stats
Labels: inference

#3513 Address error when no gating veto argument was given
  pycbc/io/hdf.py
Labels: bug

#3510 Fix empty plots in minifollowups
  bin/minifollowups/pycbc_injection_minifollowup
Labels: bug, offline search

#3514 Fix bug in pycbc_inspiral
  pycbc/vetoes/chisq.py
  pycbc/waveform/bank.py
Labels: bug, offline search

#3511 Minifollowup plot tweaks
  bin/hdfcoinc/pycbc_plot_singles_timefreq
  bin/plotting/pycbc_plot_qscan
Labels: enhancement

#3512 pycbc_coinc_mergetrigs: minor fix and cleanup
  bin/hdfcoinc/pycbc_coinc_mergetrigs
Labels: offline search
