Repository gwastro/pycbc, pull requests merged in 2020-07, with the labels that each got.

#3343 get hdfinjfind to work on multiifo_statmap files
  bin/hdfcoinc/pycbc_coinc_hdfinjfind
Labels: bug, offline search

#3354 add checkpointing for Dynesty
  pycbc/inference/io/__init__.py
  pycbc/inference/io/dynesty.py
  pycbc/inference/sampler/base.py
  pycbc/inference/sampler/cpnest.py
  pycbc/inference/sampler/dynesty.py
  pycbc/inference/sampler/multinest.py
  pycbc/io/hdf.py
  pycbc/pool.py
Labels: inference

#3314 Offline hash handling
  bin/hdfcoinc/pycbc_multiifo_coinc_statmap_inj
  bin/plotting/pycbc_ifar_catalog
  bin/workflows/pycbc_create_offline_search_workflow
  pycbc/events/coinc.py
  pycbc/waveform/bank.py
Labels: offline search, python3

#3355 use radians consistently for setting angular bounds
  pycbc/distributions/angular.py
  test/test_distributions.py
Labels: inference

#3364 pass boundary types to dynesty
  pycbc/boundaries.py
  pycbc/distributions/joint.py
  pycbc/inference/sampler/dynesty.py
Labels: inference

#3347 Write checkpoint history
  bin/inference/pycbc_inference
  pycbc/inference/io/base_hdf.py
  pycbc/inference/io/base_mcmc.py
  pycbc/inference/io/base_sampler.py
  pycbc/inference/sampler/base.py
  pycbc/inference/sampler/base_mcmc.py
Labels: enhancement, inference

#3367 Set correct dtype when reading epsie samples
  pycbc/inference/io/base_multitemper.py
Labels: bug, inference

#3369 update support for ultranest
  pycbc/inference/sampler/ultranest.py
  pycbc/io/hdf.py
Labels: inference

#3373 simplify running pycbc inference with mpi
  bin/inference/pycbc_inference
  pycbc/inference/sampler/base_cube.py
  pycbc/inference/sampler/dynesty.py
  pycbc/inference/sampler/emcee.py
  pycbc/inference/sampler/emcee_pt.py
  pycbc/inference/sampler/epsie.py
  pycbc/pool.py
Labels: inference

#3377 Make sure sampling parameters keep the same order
  pycbc/inference/models/base.py
Labels: bug, inference

#3382 add_statmap to output combined segments of all types of coincidence
  bin/hdfcoinc/pycbc_multiifo_add_statmap
Labels: offline search

#3394 Allow start file to be specified for mcmc samplers
  pycbc/inference/io/base_hdf.py
  pycbc/inference/sampler/base_mcmc.py
Labels: inference

#3402 Fix typo in ACT that's printed to screen
  pycbc/inference/sampler/base_mcmc.py
  pycbc/inference/sampler/base_multitemper.py
Labels: bug, inference
