Repository gwastro/pycbc, pull requests merged in 2020-09, with the labels that each got.

#3448 PyCBC Live: fix a bug arising from early-warning test
  pycbc/io/live.py
Labels: low latency

#3376 Dynesty: add nested samples and write to backup file
  pycbc/inference/io/dynesty.py
  pycbc/inference/io/posterior.py
  pycbc/inference/sampler/dynesty.py
Labels: inference

#3442 Add model with numerical marginalization of the polarization angle
  pycbc/inference/models/__init__.py
  pycbc/inference/models/gaussian_noise.py
  pycbc/inference/models/marginalized_gaussian_noise.py
  pycbc/waveform/generator.py
Labels: inference

#3437 Epsie: adaptive proposal support
  pycbc/inference/jump/__init__.py
  pycbc/inference/jump/angular.py
  pycbc/inference/jump/bounded_normal.py
  pycbc/inference/jump/normal.py
  requirements.txt
Labels: enhancement, inference

#3455 Writing checkpointing history to output files
  pycbc/inference/sampler/dynesty.py
Labels: inference

#3450 add option to save parameters of failing waveforms
  pycbc/waveform/generator.py
Labels: inference

#3459 Various little improvements to PyCBC Live
  bin/pycbc_live
  pycbc/frame/frame.py
Labels: low latency

#3464 Add maxl stats to brute force marginalization model
  pycbc/inference/models/brute_marg.py
Labels: inference

#3458 Fix issues with extracting samples from dynesty file
  pycbc/inference/io/dynesty.py
Labels: bug, inference

#3457 Add support for ptemcee
  companion.txt
  docs/inference/examples/sampler_platter.rst
  examples/inference/samplers/ptemcee_stub.ini
  pycbc/inference/io/__init__.py
  pycbc/inference/io/ptemcee.py
  pycbc/inference/sampler/__init__.py
  pycbc/inference/sampler/base_multitemper.py
  pycbc/inference/sampler/ptemcee.py
Labels: inference, work in progress

#3471 Allow injection set to write string datatypes
  pycbc/inject/inject.py
Labels: bug, python3

#3472 Be able to read injection files written in python 2
  pycbc/inject/inject.py
Labels: python3

#3141 Add ability to turn off redshifting masses in TOV transforms
  pycbc/transforms.py
Labels: enhancement

#3475 Minor improvements to relative likelihood model
  pycbc/inference/models/relbin.py
Labels: inference

#3476 Removal of a manual list of trigger times
  bin/hdfcoinc/pycbc_multiifo_coinc_statmap
  bin/hdfcoinc/pycbc_page_snrifar
Labels: offline search
