Repository gwastro/pycbc, pull requests merged in 2020-01, with the labels that each got.

#2720 allow pycbc live to accept multiple triggers each chunk from each template
  bin/pycbc_live
  pycbc/filter/matchedfilter.py
Labels: low latency

#3071 Trials factor was applied incorrectly for singles
  pycbc/events/single.py
Labels: bug, low latency

#3076 hierarchical iterations counter bug
  bin/hdfcoinc/pycbc_multiifo_add_statmap
Labels: bug, offline search

#3082 add in followup data to live singles
  bin/pycbc_live
Labels: enhancement, low latency

#3078 Global ifar plot
  bin/plotting/pycbc_ifar_catalog
  bin/workflows/pycbc_create_offline_search_workflow
  pycbc/workflow/plotting.py
Labels: offline search

#3085 Python3 workflow fixes
  bin/hdfcoinc/pycbc_fit_sngls_split_binned
  bin/hdfcoinc/pycbc_page_ifar
  bin/minifollowups/pycbc_single_template_plot
Labels: python3

#3081 Improve PyCBC Live SNR followup
  bin/pycbc_live
  bin/pycbc_optimize_snr
Labels: low latency

#3068 enforce betas order required by emceept
  pycbc/inference/sampler/emcee_pt.py
Labels: inference

#3089 Fix delta_t in singles followup data
  bin/pycbc_live
Labels: bug, low latency

#3099 Input sanitation for live singles options
  pycbc/events/single.py
Labels: bug, low latency

#3100 Implement relative likelihood model
  pycbc/inference/models/__init__.py
  pycbc/inference/models/relbin.py
  pycbc/waveform/spa_tmplt.py
  pycbc/waveform/spa_tmplt_cpu.pyx
Labels: enhancement, inference

#3104 Check for psd start/end times in dict values
  pycbc/inference/models/data_utils.py
Labels: bug, inference

#3090 allow to pass initialization args to dynesty
  pycbc/inference/sampler/dynesty.py
Labels: inference

#3103 Write analysis and psd segments to inference file
  pycbc/inference/models/data_utils.py
  pycbc/inference/models/gaussian_noise.py
Labels: inference

#3106 Allow multinest to work with mpi
  pycbc/inference/sampler/base.py
  pycbc/inference/sampler/base_mcmc.py
  pycbc/inference/sampler/cpnest.py
  pycbc/inference/sampler/dynesty.py
  pycbc/inference/sampler/multinest.py
Labels: enhancement, inference

#2887 Make normalization term optional and save data instead of whitened data
  pycbc/inference/models/gaussian_noise.py
  pycbc/inference/models/marginalized_gaussian_noise.py
Labels: bug, inference

#3107 Add BaseGaussianNoise model to fix SingleTemplate and RelativeSPA
  pycbc/inference/models/base_data.py
  pycbc/inference/models/gaussian_noise.py
  pycbc/inference/models/marginalized_gaussian_noise.py
  pycbc/inference/models/relbin.py
  pycbc/inference/models/single_template.py
Labels: bug, inference

#3108 Remove MarginalizedGaussianNoise model for now
  pycbc/inference/models/__init__.py
  pycbc/inference/models/marginalized_gaussian_noise.py
Labels: bug, inference

#2984 Optional arguments in mchirp, q <-> mass1, mass2 transform
  pycbc/transforms.py
Labels: inference

#3111 Update table summary
  bin/inference/pycbc_inference_table_summary
Labels: enhancement, inference

#3115 Add wrappers to create skymap
  bin/inference/pycbc_inference_create_fits
  bin/inference/pycbc_inference_plot_skymap
Labels: enhancement, inference

#3116 Remove automatic transforms when loading results
  bin/inference/pycbc_inference_plot_inj_recovery
  bin/inference/pycbc_inference_plot_movie
  bin/inference/pycbc_inference_plot_posterior
  bin/inference/pycbc_inference_plot_samples
  pycbc/inference/io/__init__.py
Labels: inference

#3098 PyCBC Live: add more info to GraceDB log
  bin/pycbc_live
  bin/pycbc_optimize_snr
Labels: low latency

#3119 Allow extract samples to combine files; improve py3 support
  bin/inference/pycbc_inference_extract_samples
  pycbc/inference/io/__init__.py
  pycbc/inference/io/base_hdf.py
Labels: enhancement, inference, python3

#3122 Fix effective number of samples estimate
  pycbc/inference/io/base_mcmc.py
  pycbc/inference/sampler/base_mcmc.py
Labels: bug, inference

#3123 Delay applying waveform transforms
  pycbc/inference/models/base.py
  pycbc/inference/models/base_data.py
Labels: inference

#3128 add single template example to docs and pycbc test suite
  docs/inference.rst
  docs/inference/examples/single.rst
  examples/inference/single/get.sh
  examples/inference/single/plot.sh
  examples/inference/single/run.sh
  examples/inference/single/single.ini
  pycbc/inference/models/single_template.py
  tools/pycbc_test_suite.sh
Labels: inference
