Repository gwastro/pycbc, pull requests merged in 2021-09, with the labels that each got.

#3780 allow using multiprocessing to parallelize pycbc_inspiral over templates
  bin/pycbc_inspiral
  examples/inspiral/run.sh
  examples/search/analysis.ini
  pycbc/events/eventmgr.py
Labels: offline search

#3777 Add gated gaussian model with marginalized polarization
  pycbc/inference/models/__init__.py
  pycbc/inference/models/gated_gaussian_noise.py
Labels: inference

#3711 Updates to plot posterior
  bin/inference/pycbc_inference_plot_posterior
  pycbc/inference/option_utils.py
  pycbc/results/scatter_histograms.py
Labels: enhancement, inference

#3796 Solve mchirp_area.py module duplication
  pycbc/mchirp_area.py
  pycbc/mchirp_area_improved.py
Labels: duplicate

#3802 Add setproctitle to companion.txt
  companion.txt
Labels: low latency

#3807 Remove more pre-Python-3.7 stuff
  bin/all_sky_search/pycbc_calculate_psd
  bin/bank/pycbc_aligned_bank_cat
  bin/bank/pycbc_bank_verification
  bin/bank/pycbc_geom_aligned_2dstack
  bin/bank/pycbc_geom_aligned_bank
  bin/bank/pycbc_geom_nonspinbank
  bin/bank/pycbc_tmpltbank_to_chi_params
  bin/plotting/pycbc_plot_psd_file
  bin/plotting/pycbc_plot_psd_timefreq
  bin/plotting/pycbc_plot_singles_timefreq
  bin/pycbc_inspiral
  bin/pycbc_split_inspinj
  companion.txt
  pycbc/filter/qtransform.py
  pycbc/io/hdf.py
  pycbc/io/live.py
  pycbc/noise/reproduceable.py
  pycbc/psd/estimate.py
  pycbc/tmpltbank/bank_output_utils.py
  pycbc/tmpltbank/brute_force_methods.py
  pycbc/tmpltbank/calc_moments.py
  pycbc/tmpltbank/coord_utils.py
  pycbc/tmpltbank/lambda_mapping.py
  pycbc/tmpltbank/lattice_utils.py
  pycbc/tmpltbank/partitioned_bank.py
  pycbc/waveform/waveform.py
  pycbc/workflow/psd.py
  test/test_autochisq.py
  test/test_coinc_stat.py
  test/test_tmpltbank.py
  tools/pycbc_test_suite.sh
Labels: python3
