Repository gwastro/pycbc, pull requests merged in 2021-11, with the labels that each got.

#3851 add minimal inference workflow test
  .github/workflows/inference-workflow.yml
  bin/workflows/pycbc_make_inference_workflow
  examples/inference/single/single.ini
  examples/search/check_job.py
  examples/workflow/inference/small_test/gen.sh
  examples/workflow/inference/small_test/single.ini
  examples/workflow/inference/small_test/workflow.ini
  pycbc/workflow/core.py
Labels: inference

#3861 Fix sort error on param output if single parameter
  bin/all_sky_search/pycbc_fit_sngls_over_multiparam
Labels: bug, offline search

#3763 Fix analysis time
  pycbc/inference/models/gaussian_noise.py
  pycbc/inference/models/marginalized_gaussian_noise.py
Labels: inference

#3030 Update imports in pycbc_make_grb_summary_page
  bin/pygrb/pycbc_make_grb_summary_page
  tools/pycbc_test_suite.sh
Labels: PyGRB

#3864 add distance marginalization
  pycbc/distributions/joint.py
  pycbc/inference/models/marginalized_gaussian_noise.py
  pycbc/inference/models/single_template.py
  pycbc/inference/models/tools.py
Labels: inference

#3862 remove normalisation by mean count above threshold in fit_over codes
  bin/all_sky_search/pycbc_fit_sngls_over_multiparam
  bin/all_sky_search/pycbc_fit_sngls_over_param
  examples/search/analysis.ini
Labels: offline search

#3889 Limit the number of samples used for KDEs in plot posterior
  bin/inference/pycbc_inference_plot_posterior
  pycbc/inference/option_utils.py
  pycbc/results/scatter_histograms.py
Labels: inference
