Repository gwastro/pycbc, pull requests merged in 2021-02, with the labels that each got.

#3611 Pycbc_live must make output that Bayestar can use
  companion.txt
  examples/live/run.sh
  pycbc/filter/matchedfilter.py
Labels: low latency

#3615 pycbc_optimize_snr: add support for particle swarm optimization
  bin/pycbc_optimize_snr
Labels: low latency

#3613 re-normalize the cumulative weights to 1 to avoid numerical issues when resampling weighted samples
  pycbc/inference/io/dynesty.py
Labels: inference

#3618 gracedb upload script - add options to make output without upload
  bin/pycbc_upload_xml_to_gracedb
Labels: offline search

#3617 Various fixes to PyCBC Live's test
  examples/live/check_results.py
  examples/live/generate_injections.py
  examples/live/run.sh
Labels: low latency

#3616 add test model to build posterior prob from samples
  bin/inference/pycbc_validate_test_posterior
  examples/inference/analytic-normal2d/posterior-normal2d.png
  pycbc/inference/models/__init__.py
  pycbc/inference/models/analytic.py
Labels: inference

#3627 Simplify effective nsamples logic and don't try to use nacl ACLs
  pycbc/inference/burn_in.py
  pycbc/inference/sampler/base_mcmc.py
Labels: bug, inference

#3632 unpin h5py and fix issue in descriptor usage of compund types
  bin/all_sky_search/pycbc_fit_sngls_over_multiparam
  bin/minifollowups/pycbc_single_template_plot
  pycbc/io/record.py
  requirements.txt
Labels: offline search

#3622 try to make relative model independent of detector
  pycbc/inference/models/relbin.py
Labels: 3g-detectors, inference

#3634 set reference time for injections, used for some projection methods
  pycbc/inject/inject.py
Labels: bug

#3639 allow pycbc plot posterior to compare parameters with the nearest injection
  bin/inference/pycbc_inference_plot_posterior
  pycbc/inference/option_utils.py
Labels: inference

#3644 Properly record maxl phase in HM marginalized model
  pycbc/inference/models/marginalized_gaussian_noise.py
Labels: bug, inference
