Repository gwastro/pycbc, pull requests merged in 2021-03, with the labels that each got.

#3668 Make it easier to load data and models
  pycbc/inference/io/base_hdf.py
  pycbc/inference/models/gaussian_noise.py
Labels: enhancement, inference

#3650 Fix bug in final_spin_from_initial
  pycbc/conversions.py
Labels: bug

#3669 add option to make saving data optional in inference files
  pycbc/inference/models/base_data.py
  pycbc/inference/models/gaussian_noise.py
Labels: inference

#3649 updates to relative model
  pycbc/inference/models/relbin.py
  pycbc/inference/models/relbin_cpu.pyx
  setup.py
  test/test_infmodel.py
Labels: inference

#3652 fix polarization marginalization normalization in single template model
  pycbc/inference/models/single_template.py
Labels: inference

#3670 fix loop on failed attribute
  bin/inference/pycbc_inference_plot_posterior
  pycbc/io/record.py
Labels: bug

#3674 Fix a couple more LISA problems
  pycbc/strain/strain.py
Labels: LISA

#3675 add option to not save state with dynesty
  examples/inference/single/single.ini
  pycbc/inference/sampler/dynesty.py
Labels: inference

#3657 pycbc_make_skymap: add support for generating skymaps from simulated data & injections
  bin/pycbc_make_skymap
Labels: work in progress
