Repository gwastro/pycbc, pull requests merged in 2022-06, with the labels that each got.

#4046 Update to epsie 1.0 and make it an optional package
  companion.txt
  pycbc/inference/io/epsie.py
  requirements.txt
Labels: inference

#4032 add multi signal class + support to gaussian_noise model
  examples/inference/multisignal/event1_inj.ini
  examples/inference/multisignal/event2_inj.ini
  examples/inference/multisignal/make_injections.sh
  examples/inference/multisignal/prior.ini
  examples/inference/multisignal/run.sh
  pycbc/inference/models/__init__.py
  pycbc/inference/models/gated_gaussian_noise.py
  pycbc/inference/models/gaussian_noise.py
  pycbc/inference/models/hierarchical.py
Labels: inference

#4053 Add statmap hierarchical removal against exclusive
  bin/all_sky_search/pycbc_add_statmap
  bin/all_sky_search/pycbc_coinc_statmap
Labels: offline search

#4068 PSD: don't try to set low frequency values if cutoff is 0Hz
  pycbc/psd/__init__.py
Labels: bug
