Repository gwastro/pycbc, pull requests merged in 2022-12, with the labels that each got.

#4204 fix ZeroDivisionError at low freq
  pycbc/inference/models/relbin.py
Labels: LISA

#3805 Add DQ ranking statistic to coinc search workflow
  bin/all_sky_search/pycbc_combine_statmap
  bin/plotting/pycbc_plot_bank_bins
  bin/plotting/pycbc_plot_dq_likelihood_vs_time
  bin/plotting/pycbc_plot_dq_percentiles
  bin/workflows/pycbc_make_coinc_search_workflow
  pycbc/workflow/__init__.py
  pycbc/workflow/dq.py
  pycbc/workflow/plotting.py
  pycbc/workflow/segment.py
Labels: offline search

#4200 BUGFIX to sky marginalization, fixes to weights, helper function to turn off ifos
  bin/inference/pycbc_inference_model_stats
  pycbc/inference/models/tools.py
Labels: bug, inference

#4205 Use mchirp_area to include a HasMassGap probability
  pycbc/io/live.py
Labels: enhancement, low latency

#4201 Add function to use only time around peaks for sky / time marginalization
  examples/inference/single/single.ini
  pycbc/inference/models/single_template.py
  pycbc/inference/models/tools.py
Labels: inference
