Repository gwastro/pycbc, pull requests merged in 2022-05, with the labels that each got.

#4014 fix pool properties upon resume for dynesty 1.2
  pycbc/inference/sampler/dynesty.py
Labels: bug, inference

#3975 Cuts to triggers/templates for use in findtrigs codes
  bin/all_sky_search/pycbc_coinc_findtrigs
  bin/all_sky_search/pycbc_fit_sngls_by_template
  bin/all_sky_search/pycbc_fit_sngls_over_multiparam
  pycbc/bank/__init__.py
  pycbc/bank/bank_conversions.py
  pycbc/events/cuts.py
  pycbc/events/stat.py
Labels: offline search

#4000 Live singles in ci test
  examples/live/check_results.py
  examples/live/generate_injections.py
  examples/live/make_singles_fits_file.py
  examples/live/run.sh
Labels: low latency

#4003 Selecting the offsource trials randomly, rather than sequentially
  bin/pygrb/pycbc_grb_trig_combiner
Labels: PyGRB

#3984 dont upload singles if coinc already uploaded
  bin/pycbc_live
Labels: low latency

#4029 Joint distribution does not respect input type
  pycbc/distributions/joint.py
Labels: bug

#4023 Add a Hierarchical model to inference
  docs/inference.rst
  docs/inference/examples/hierarchical.rst
  examples/inference/hierarchical/data.ini
  examples/inference/hierarchical/dynesty.ini
  examples/inference/hierarchical/emcee.ini
  examples/inference/hierarchical/event1_inj.ini
  examples/inference/hierarchical/event2_inj.ini
  examples/inference/hierarchical/make_injections.sh
  examples/inference/hierarchical/model-event1_relbin.ini
  examples/inference/hierarchical/model-event2_gaussian.ini
  examples/inference/hierarchical/model-event2_margphase.ini
  examples/inference/hierarchical/model-event2_relbin.ini
  examples/inference/hierarchical/model.ini
  examples/inference/hierarchical/prior.ini
  examples/inference/hierarchical/run.sh
  examples/inference/hierarchical/run_test.sh
  pycbc/inference/io/base_hdf.py
  pycbc/inference/models/__init__.py
  pycbc/inference/models/base.py
  pycbc/inference/models/base_data.py
  pycbc/inference/models/gated_gaussian_noise.py
  pycbc/inference/models/gaussian_noise.py
  pycbc/inference/models/hierarchical.py
  pycbc/inference/models/marginalized_gaussian_noise.py
  pycbc/inference/models/relbin.py
  tools/pycbc_test_suite.sh
Labels: work in progress, inference
