Repository gwastro/pycbc, pull requests merged in 2023-05, with the labels that each got.

#4347 page_foreground bugfix
  pycbc/io/hdf.py
Labels: bug, offline search

#4362 Fix edge case in PyCBC Live's check for horizon distance
  bin/pycbc_live
  pycbc/strain/strain.py
Labels: bug, low latency

#4319 Make reference and proposal waveforms comparable, add function to test breakdown of piece-wise apx
  pycbc/inference/models/relbin.py
Labels: inference, LISA

#4320 Allow for precalculated sky samples only, speedup for sky marginalization
  examples/inference/relmarg/reltime.ini
  examples/inference/relmarg/run.sh
  pycbc/inference/models/marginalized_gaussian_noise.py
  pycbc/inference/models/relbin.py
  pycbc/inference/models/relbin_cpu.pyx
  pycbc/inference/models/single_template.py
  pycbc/inference/models/tools.py
Labels: inference

#4369 Live single-trigger combined fits date order bug
  bin/live/pycbc_live_combine_single_fits
  bin/live/pycbc_live_plot_combined_single_fits
Labels: bug, low latency

#4358 add lognl for hierarchical models to output files
  pycbc/inference/models/hierarchical.py
Labels: inference

#4374 Implement pre-cuts in fit_over_multiparam for efficiency
  bin/all_sky_search/pycbc_fit_sngls_over_multiparam
Labels: offline search
