Repository gwastro/pycbc, pull requests merged in 2024-04, with the labels that each got.

#4683 Fix bug from scipy version changing
  pycbc/psd/variation.py
Labels: bug

#4681 Bugfix: allow nothing to be given in --labels
  bin/all_sky_search/pycbc_upload_single_event_to_gracedb
Labels: bug, offline search, v23_release_branch

#4679 Add efficiency plots to PyGRB workflow
  bin/pygrb/pycbc_grb_trig_combiner
  bin/pygrb/pycbc_make_offline_grb_workflow
  bin/pygrb/pycbc_pygrb_efficiency
  bin/pygrb/pycbc_pygrb_plot_coh_ifosnr
  bin/pygrb/pycbc_pygrb_plot_snr_timeseries
  bin/pygrb/pycbc_pygrb_pp_workflow
  pycbc/results/pygrb_postprocessing_utils.py
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4670 Allow pycbc_fit_sngls_over_multiparam to take in multiple files
  bin/all_sky_search/pycbc_fit_sngls_over_multiparam
Labels: low latency

#4687 Add live singles significance fitting supervision script to github repo
  bin/live/pycbc_live_combine_single_significance_fits
  bin/live/pycbc_live_plot_combined_single_significance_fits
  bin/live/pycbc_live_plot_single_significance_fits
  bin/live/pycbc_live_single_significance_fits
  bin/live/pycbc_live_supervise_single_significance_fits
Labels: low latency

#4676 Fix IndexError in PyCBC Live's followup code
  bin/pycbc_live
  examples/live/run.sh
  pycbc/filter/matchedfilter.py
  pycbc/strain/strain.py
  pycbc/waveform/bank.py
Labels: bug, low latency

#4692 Allow the user to specify the output directory for nessai
  pycbc/inference/sampler/nessai.py
Labels: inference

#4696 Typo in live significance fits supervision script
  bin/live/pycbc_live_supervise_single_significance_fits
Labels: low latency

#4695 Add option to plot fits in bank corner plot
  bin/plotting/pycbc_plot_bank_corner
  pycbc/results/scatter_histograms.py
  pycbc/tmpltbank/bank_conversions.py
Labels: low latency

#4704 fix contains method of joint distribution
  pycbc/distributions/joint.py
Labels: inference

#4707 Minor bugfixes in the `banksim` workflow's postprocessing
  bin/pycbc_make_banksim
Labels: bug

#4686 Support detector frame waveforms for inference
  pycbc/inference/models/gaussian_noise.py
  pycbc/waveform/generator.py
Labels: work in progress, inference, LISA

#4649 Removed xml dependence from pycbc_pygrb_page_tables
  bin/pycbc_multi_inspiral
  bin/pygrb/pycbc_pygrb_page_tables
  pycbc/results/pygrb_postprocessing_utils.py
Labels: PyGRB

#4710 Clean up pycbc_multi_inspiral with black
  bin/pycbc_multi_inspiral
Labels: PyGRB

#4714 Smarter coinc SNR in pygrb post-processing
  bin/pycbc_multi_inspiral
  bin/pygrb/pycbc_pygrb_plot_chisq_veto
  bin/pygrb/pycbc_pygrb_plot_null_stats
  pycbc/results/pygrb_postprocessing_utils.py
Labels: PyGRB

#4712 Use approximant parsing argument for make_bayestar
  bin/all_sky_search/pycbc_make_bayestar_skymap
  pycbc/workflow/minifollowups.py
Labels: bug, offline search, v23_release_branch

#4718 Correct call to extract_basic_trig_properties in pycbc_pygrb_efficiency
  bin/pygrb/pycbc_pygrb_efficiency
Labels: PyGRB

#4719 Remove PyGRB injection set name check
  bin/pygrb/pycbc_grb_inj_combiner
Labels: PyGRB

#4660 Add TianQin and Taiji PSD
  examples/inference/lisa_smbhb_inj/injection_smbhb.ini
  examples/inference/lisa_smbhb_inj/lisa_smbhb_relbin.ini
  pycbc/psd/analytical.py
  pycbc/psd/analytical_space.py
Labels: work in progress, LISA, Taiji, TianQin

#4725 set TDI version in LDC example
  examples/inference/lisa_smbhb_ldc/lisa_smbhb_relbin.ini
Labels: inference, LISA

#4724 V23 BRANCH: Optimize plotting job memory usage
  .github/workflows/distribution.yml
  .github/workflows/inference-workflow.yml
  .github/workflows/mac-test.yml
  .github/workflows/search-workflow.yml
  .github/workflows/tmpltbank-workflow.yml
  .github/workflows/workflow-tests.yml
  bin/minifollowups/pycbc_page_coincinfo
  bin/plotting/pycbc_page_coinc_snrchi
  bin/plotting/pycbc_page_snrchi
  bin/plotting/pycbc_plot_hist
  pycbc/io/hdf.py
  pycbc/results/versioning.py
Labels: offline search, v23_release_branch
