Repository gwastro/pycbc, pull requests merged in 2024-12, with the labels that each got.

#4965 Allow units for `--ra` and `--dec`, improve external trigger info table
  bin/pycbc_multi_inspiral
  bin/pygrb/pycbc_pygrb_grb_info_table
  pycbc/types/optparse.py
Labels: PyGRB

#4977 Corrected background and module path in pygrb_plot_injs_results
  bin/pygrb/pycbc_pygrb_plot_injs_results
Labels: bug, PyGRB

#4848 add a distribution to draw sky locations from a HEALPix map
  pycbc/distributions/__init__.py
  pycbc/distributions/sky_location.py
  test/test_distributions.py
Labels: PyGRB

#4951 Save statmap significance fits information
  bin/all_sky_search/pycbc_add_statmap
  bin/all_sky_search/pycbc_coinc_statmap
  bin/all_sky_search/pycbc_coinc_statmap_inj
  bin/all_sky_search/pycbc_exclude_zerolag
  bin/all_sky_search/pycbc_sngls_statmap
  bin/all_sky_search/pycbc_sngls_statmap_inj
  pycbc/events/significance.py
  test/test_significance_module.py
Labels: offline search, v23_release_branch

#4957 Some efficiency savings for pycbc_fit_sngls_over_multiparam
  bin/all_sky_search/pycbc_fit_sngls_over_multiparam
Labels: offline search

#4988 Allow RA/dec unit suffix in make_sky_grid
  bin/pycbc_make_sky_grid
Labels: PyGRB

#4691 Adding detector class for calculating LISA projections and response function
  pycbc/detector/__init__.py
  pycbc/detector/ground.py
  pycbc/detector/space.py
Labels: LISA

#4996 Add waveform error handling to Relbin (and other models)
  pycbc/inference/models/gated_gaussian_noise.py
  pycbc/inference/models/gaussian_noise.py
  pycbc/inference/models/marginalized_gaussian_noise.py
  pycbc/inference/models/relbin.py
  test/test_infmodel.py
Labels: inference

#4983 Improve Executable constructor doc
  pycbc/workflow/core.py
Labels: documentation

#4985 Generate and use search sky-grids in pygrb worflows
  bin/pygrb/pycbc_make_offline_grb_workflow
  pycbc/workflow/grb_utils.py
  pycbc/workflow/jobsetup.py
  pycbc/workflow/matched_filter.py
Labels: work in progress, PyGRB

#4973 Generalize time-domain waveform modes generation via lalsim
  pycbc/waveform/waveform_modes.py
Labels: enhancement, waveform, lalsuite

#4997 Pin lalsuite version and fix error in pycbc_plot_singles_vs_params
  bin/plotting/pycbc_plot_singles_vs_params
  requirements.txt
Labels: bug
