Repository gwastro/pycbc, pull requests merged in 2024-10, with the labels that each got.

#4894 File instances for all PyGRB postprocessing input
  bin/pygrb/pycbc_pygrb_pp_workflow
Labels: PyGRB

#4678 Add new extremely fast direct monte-carlo method
  pycbc/conversions.py
  pycbc/inference/sampler/__init__.py
  pycbc/inference/sampler/dummy.py
  pycbc/inference/sampler/games.py
Labels: inference

#4899 Using find_output_with_tag and File.tags for file names in PyGRB webpage generator
  bin/pygrb/pycbc_pygrb_pp_workflow
  pycbc/workflow/core.py
Labels: PyGRB

#4902 Tables and minifollowups in PyGRB
  bin/pygrb/pycbc_pygrb_pp_workflow
Labels: PyGRB

#4903 Efficiency plots and exclusion distance tables in PyGRB webpages
  bin/pygrb/pycbc_pygrb_pp_workflow
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4906 Ran black on pycbc_pygrb_pp_workflow and then renamed it pycbc_pygrb_…
  bin/pygrb/pycbc_make_offline_grb_workflow
  bin/pygrb/pycbc_pygrb_results_workflow
  docs/workflow/pygrb.rst
  pycbc/workflow/grb_utils.py
  tools/static/needs_full_build
Labels: PyGRB

#4909 Enforce pygrb_efficiency subsections
  bin/pygrb/pycbc_pygrb_efficiency
  bin/pygrb/pycbc_pygrb_results_workflow
Labels: PyGRB

#4904 Exclusion distance correction
  bin/pygrb/pycbc_pygrb_efficiency
Labels: PyGRB

#4914 Fix problem on pycbc live due to numpy 2
  examples/live/check_results.py
  pycbc/io/gracedb.py
Labels: bug, low latency

#4840 Removing old line preventing PyGRB workflows from starting
  pycbc/workflow/grb_utils.py
Labels: bug, PyGRB
