Repository gwastro/pycbc, pull requests merged in 2024-05, with the labels that each got.

#4731 Clean up of pycbc_pygrb_page_tables
  bin/pygrb/pycbc_pygrb_page_tables
Labels: PyGRB

#4717 Removed unused imports and variables; improved comments and messages …
  bin/pycbc_multi_inspiral
Labels: PyGRB

#4709 Fix combined plots xlim bug
  bin/live/pycbc_live_plot_combined_single_significance_fits
Labels: low latency

#4732 V23_RELEASE_BRANCH Implement minimum statistic storage in sngls_findtrigs
  bin/all_sky_search/pycbc_sngls_findtrigs
Labels: offline search, v23_release_branch

#4734 Fix bug in left-right SNR comparison in pycbc_multi_inspiral
  bin/pycbc_multi_inspiral
  examples/multi_inspiral/faceon_faceaway.sh
  examples/multi_inspiral/run.sh
Labels: PyGRB

#4736 Cleanup sky stuff in multi_inspiral
  bin/pycbc_multi_inspiral
Labels: PyGRB

#4738 use hann in inverse_spectrum_truncation for TDI-2 PE
  examples/inference/lisa_smbhb_inj/lisa_smbhb_relbin.ini
Labels: inference, LISA

#4739 Page tables bug fix
  bin/pygrb/pycbc_pygrb_page_tables
Labels: bug, PyGRB

#4737 Options and cuts in pycbc_multi_inspiral
  bin/pycbc_multi_inspiral
  pycbc/results/pygrb_postprocessing_utils.py
Labels: PyGRB

#4740 Fix 2 bugs with event_id of injections
  bin/pygrb/pycbc_grb_inj_finder
  bin/pygrb/pycbc_pygrb_plot_coh_ifosnr
  bin/pygrb/pycbc_pygrb_plot_snr_timeseries
Labels: bug, PyGRB

#4744 add str() to all tdi
  pycbc/psd/analytical_space.py
  test/test_coordinates_space.py
Labels: LISA

#4729 efficiency savings for pycbc_page_snrchi
  bin/plotting/pycbc_page_snrchi
  pycbc/io/hdf.py
Labels: offline search

#4742 Reweighted SNR cut enabled in PyGRB post-processing
  bin/pygrb/pycbc_make_offline_grb_workflow
  bin/pygrb/pycbc_pygrb_efficiency
  bin/pygrb/pycbc_pygrb_minifollowups
  bin/pygrb/pycbc_pygrb_page_tables
  bin/pygrb/pycbc_pygrb_plot_chisq_veto
  bin/pygrb/pycbc_pygrb_plot_coh_ifosnr
  bin/pygrb/pycbc_pygrb_plot_injs_results
  bin/pygrb/pycbc_pygrb_plot_null_stats
  bin/pygrb/pycbc_pygrb_plot_skygrid
  bin/pygrb/pycbc_pygrb_plot_snr_timeseries
  bin/pygrb/pycbc_pygrb_plot_stats_distribution
  pycbc/results/pygrb_postprocessing_utils.py
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4746 Removing unused code in pycbc_pygrb_page_tables
  bin/pygrb/pycbc_pygrb_page_tables
Labels: PyGRB

#4748 Commenting single IFO cut in PyGRB
  bin/pycbc_multi_inspiral
  pycbc/events/coherent.py
Labels: PyGRB

#4749 Fixing null cut in pycbc_multi_inspiral
  bin/pygrb/pycbc_pygrb_plot_null_stats
  pycbc/events/coherent.py
  pycbc/results/pygrb_postprocessing_utils.py
Labels: PyGRB

#4757 Removing pycbc_grb_inj_combiner
  bin/pygrb/pycbc_grb_inj_combiner
  bin/pygrb/pycbc_make_offline_grb_workflow
  bin/pygrb/pycbc_pygrb_efficiency
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4756 Add PyGRB Exclusion Distance Table Executable
  bin/pygrb/pycbc_pygrb_efficiency
  bin/pygrb/pycbc_pygrb_exclusion_dist_table
Labels: PyGRB

#4750 Cosmetics for pycbc_pygrb_plot_coh_ifosnr and pycbc_pygrb_minifollowups
  bin/pygrb/pycbc_pygrb_minifollowups
  bin/pygrb/pycbc_pygrb_plot_coh_ifosnr
Labels: PyGRB

#4767 Sort all quantities consistently in grb_inj_finder
  bin/pygrb/pycbc_grb_inj_finder
Labels: bug, PyGRB

#4764 Efficiency savings for pycbc_page_coinc_snrchi, and ForegroundTriggers get_snglfile_array_dict
  bin/plotting/pycbc_page_coinc_snrchi
  pycbc/io/hdf.py
Labels: offline search

#4762 fix cdfinv of external text file distribution when multiple are used in a joint distribution
  pycbc/distributions/external.py
Labels: inference
