Repository gwastro/pycbc, pull requests merged in 2024-09, with the labels that each got.

#4688 add acceleration option to JointPrimaryMarginalizedModel likelihood
  bin/inference/pycbc_inference
  pycbc/inference/models/hierarchical.py
  pycbc/inference/models/marginalized_gaussian_noise.py
  pycbc/inference/models/relbin.py
  pycbc/inference/models/tools.py
Labels: work in progress, inference, LISA

#4871 Input file handling in pycbc_pygrb_page_tables
  bin/pygrb/pycbc_pygrb_page_tables
Labels: PyGRB

#4741 Add a module and class for handling sky grids for `pycbc_multi_inspiral`
  bin/pycbc_multi_inspiral
  pycbc/tmpltbank/sky_grid.py
Labels: PyGRB

#4866 Add dq fitting to Live supervised fitting script
  bin/all_sky_search/pycbc_bin_templates
  bin/live/pycbc_live_collate_triggers
  bin/live/pycbc_live_collated_dq_trigger_rates
  bin/live/pycbc_live_combine_dq_trigger_rates
  bin/live/pycbc_live_supervise_collated_trigger_fits
  bin/plotting/pycbc_plot_dq_flag_likelihood
Labels: low latency

#4879 Fix numpy scalar edge case bug
  pycbc/io/hdf.py
Labels: bug

#4872 setup_pygrb_minifollowups cleaner
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4873 Enable handling of all pycbc_pygrb_efficiency in workflow
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4875 Function to setup pygrb_grb_info_table jobs
  bin/pygrb/pycbc_pygrb_pp_workflow
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4877 Improved pygrb missed/quiet injection tables job handler
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4886 Further grb utils cleanup
  bin/pycbc_multi_inspiral
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4889 Fix nansum check in pygrb_efficiency
  bin/pygrb/pycbc_pygrb_efficiency
Labels: PyGRB

#4888 Fix pygrb skygrid plot
  bin/pygrb/pycbc_pygrb_plot_skygrid
Labels: PyGRB

#4885 Fixing bug in input files check
  bin/pygrb/pycbc_pygrb_page_tables
Labels: PyGRB

#4890 Don't force global multiprocessing start method
  bin/all_sky_search/pycbc_calculate_psd
  bin/inference/pycbc_inference_plot_movie
  bin/pycbc_inspiral
  bin/pycbc_optimal_snr
  pycbc/__init__.py
  pycbc/inference/models/brute_marg.py
  pycbc/pool.py
Labels: bug

#4892 Do not force pygrb_efficiency to produce all output: let the user decide
  bin/pygrb/pycbc_pygrb_efficiency
Labels: PyGRB

#4891 Starting expansion of PyGRB post-processing workflow generator
  bin/pygrb/pycbc_pygrb_pp_workflow
Labels: PyGRB
