Repository gwastro/pycbc, pull requests merged in 2024-11, with the labels that each got.

#4929 Preparing for veto file handling in PyGRB
  bin/pycbc_multi_inspiral
  bin/pygrb/pycbc_make_offline_grb_workflow
  bin/pygrb/pycbc_pygrb_minifollowups
  pycbc/results/pygrb_postprocessing_utils.py
  pycbc/workflow/grb_utils.py
  pycbc/workflow/jobsetup.py
Labels: PyGRB

#4933 Passing vetoes to scripts in pygrb results sub workflow
  bin/pygrb/pycbc_pygrb_plot_skygrid
  bin/pygrb/pycbc_pygrb_results_workflow
  pycbc/results/pygrb_postprocessing_utils.py
  pycbc/workflow/jobsetup.py
Labels: PyGRB

#4937 Fix logic for determining frame type in `pycbc_make_skymap`
  bin/pycbc_make_skymap
Labels: bug

#4936 Update pegasus_workflow.py
  pycbc/workflow/pegasus_workflow.py
Labels: bug, offline search, PyGRB

#4941 Handling vetoes and timeslides in pygrb mini followups
  bin/pygrb/pycbc_pygrb_minifollowups
  bin/pygrb/pycbc_pygrb_page_tables
  pycbc/results/pygrb_postprocessing_utils.py
Labels: PyGRB

#4947 Introducing syntax for vetoing injections in PyGRB and final version of `pycbc_pygrb_plot_null_stats`
  bin/pygrb/pycbc_pygrb_plot_null_stats
  pycbc/results/pygrb_postprocessing_utils.py
Labels: PyGRB

#4950 Final version of `pycbc_pygrb_plot_chisq_veto` and `pycbc_pygrb_plot_coh_ifosnr`
  bin/pygrb/pycbc_pygrb_plot_chisq_veto
  bin/pygrb/pycbc_pygrb_plot_coh_ifosnr
Labels: PyGRB

#4953 Fix a couple of output/upload value issues in pycbc live
  pycbc/events/single.py
  pycbc/io/gracedb.py
Labels: low latency, v27_release_branch

#4955 Final version of `pycbc_pygrb_plot_snr_timeseries`
  bin/pygrb/pycbc_pygrb_plot_snr_timeseries
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#4958 Final version of pycbc_pygrb_plot_stats_distribution vetoes
  bin/pygrb/pycbc_pygrb_plot_stats_distribution
Labels: PyGRB

#4961 Converting indexes of triggers into np.int32 because of numpy 2.x
  bin/pycbc_multi_inspiral
Labels: PyGRB

#4960 Final version of pycbc_pygrb_plot_injs_results
  bin/pygrb/pycbc_pygrb_plot_injs_results
Labels: PyGRB
