Repository gwastro/pycbc, pull requests merged in 2025-03, with the labels that each got.

#5064 Offline results page tidyup
  bin/workflows/pycbc_make_offline_search_workflow
  pycbc/workflow/plotting.py
  pycbc/workflow/versioning.py
Labels: offline search, v23_release_branch

#5075 Resolve_url for the cache file
  pycbc/workflow/core.py
Labels: bug, v23_release_branch

#5073 skygrid single ifo extension
  bin/pycbc_make_sky_grid
Labels: PyGRB

#5016 Allow PyGRB single IFO cut to be applied to a number of IFOs specified by the user
  bin/pycbc_multi_inspiral
  pycbc/events/coherent.py
  pycbc/results/pygrb_postprocessing_utils.py
Labels: PyGRB

#5072 Single ifo fix: changes to multi_inspiral
  bin/pycbc_multi_inspiral
Labels: bug, PyGRB

#5084 Refactoring pycbc_grb_trig_combiner
  bin/pygrb/pycbc_grb_trig_combiner
Labels: PyGRB

#5087 flake8 on some PyGRB results code files
  bin/pycbc_multi_inspiral
  bin/pygrb/pycbc_grb_inj_finder
  bin/pygrb/pycbc_make_offline_grb_workflow
  bin/pygrb/pycbc_pygrb_efficiency
  bin/pygrb/pycbc_pygrb_grb_info_table
  bin/pygrb/pycbc_pygrb_minifollowups
  bin/pygrb/pycbc_pygrb_page_tables
  bin/pygrb/pycbc_pygrb_plot_chisq_veto
  bin/pygrb/pycbc_pygrb_plot_coh_ifosnr
  bin/pygrb/pycbc_pygrb_plot_injs_results
  bin/pygrb/pycbc_pygrb_plot_skygrid
  bin/pygrb/pycbc_pygrb_plot_snr_timeseries
  bin/pygrb/pycbc_pygrb_plot_stats_distribution
  pycbc/events/coherent.py
  pycbc/results/pygrb_postprocessing_utils.py
  pycbc/workflow/grb_utils.py
Labels: PyGRB

#5091 Cleanup stuff that handles the Docker image and CVMFS release
  .github/workflows/build_venv.yml
  .github/workflows/docker-build.yml
  Dockerfile
  docker/etc/docker-install.sh
  docker/etc/push_image.sh
  tools/docker_build_prepssh.sh
Labels: github_actions, code-quality

#5088 PyGRB: fixing the no found injections case.
  bin/pygrb/pycbc_pygrb_efficiency
  bin/pygrb/pycbc_pygrb_page_tables
  bin/pygrb/pycbc_pygrb_plot_injs_results
  pycbc/results/pygrb_postprocessing_utils.py
Labels: bug, PyGRB
