Repository gwastro/pycbc, pull requests merged in 2025-01, with the labels that each got.

#4998 pygrb_page_tables fix
  bin/pygrb/pycbc_pygrb_page_tables
Labels: PyGRB

#5000 Use SkyGrid functions to write the HDF5 file and fix error in angular convention
  bin/pycbc_make_sky_grid
  pycbc/tmpltbank/sky_grid.py
Labels: bug, PyGRB

#4984 Make HealpixSky easier to use and more efficient
  pycbc/distributions/sky_location.py
Labels: PyGRB

#5001 Fix issue of using bank or files via osdf
  pycbc/workflow/configuration.py
Labels: work in progress, offline search, urgent

#5008 Patching segmentlists in `pycbc.workflow` module
  pycbc/workflow/core.py
Labels: bug, PyGRB

#4969 Compressed waveforms bank workflow
  .github/workflows/bank-compress-workflow.yml
  bin/plotting/pycbc_plot_bank_compression
  bin/pycbc_compress_bank
  bin/pycbc_hdf5_splitbank
  bin/pycbc_inspiral
  bin/workflows/pycbc_make_bank_compression_workflow
  examples/tmpltbank/compress_workflow/compress.ini
  examples/tmpltbank/compress_workflow/executables.ini
  examples/tmpltbank/compress_workflow/gen.sh
  pycbc/waveform/bank.py
  pycbc/waveform/compress.py
  pycbc/workflow/jobsetup.py
  pycbc/workflow/plotting.py
  pycbc/workflow/tmpltbank.py
Labels: offline search

#4608 Update rates-based statistics to be modular
  bin/all_sky_search/pycbc_sngls_findtrigs
  bin/live/pycbc_live_single_significance_fits
  bin/minifollowups/pycbc_sngl_minifollowup
  docs/index.rst
  docs/search.rst
  docs/search/ranking_statistic.rst
  docs/workflow/pycbc_make_offline_search_workflow.rst
  examples/live/run.sh
  examples/search/analysis.ini
  examples/search/plotting.ini
  pycbc/events/coinc.py
  pycbc/events/ranking.py
  pycbc/events/single.py
  pycbc/events/stat.py
  pycbc/io/hdf.py
  test/test_live_coinc_compare.py
Labels: offline search

#5017 3 docstrings related to pycbc.types.angle_as_radians
  bin/pycbc_make_sky_grid
  bin/pygrb/pycbc_pygrb_grb_info_table
  pycbc/types/optparse.py
Labels: PyGRB

#5018 coinc_findtrigs index issue
  bin/all_sky_search/pycbc_coinc_findtrigs
Labels: bug, offline search, v23_release_branch

#5021 Logging cleanup and docstring fixes
  bin/pygrb/pycbc_grb_inj_finder
  bin/pygrb/pycbc_grb_trig_cluster
  bin/pygrb/pycbc_grb_trig_combiner
  pycbc/psd/read.py
Labels: documentation, code-quality

#5024 Efficient imports
  bin/pycbc_make_banksim
  bin/pycbc_make_faithsim
  test/bankvetotest.py
  test/test_array.py
  test/test_array_lal.py
  test/test_autochisq.py
  test/test_chisq.py
  test/test_correlate.py
  test/test_frequencyseries.py
  test/test_matchedfilter.py
  test/test_pnutils.py
  test/test_resample.py
  test/test_schemes.py
  test/test_timeseries.py
  tools/timing/arr_perf.py
  tools/timing/fft_perf.py
  tools/timing/match_perf.py
  tools/timing/wav_perf.py
Labels: code-quality

#5022 Enabling onsource vs dq vetoes check in PyGRB
  bin/pygrb/pycbc_make_offline_grb_workflow
Labels: PyGRB

#5025 Ensure pygrb webpage is generated after all results files are produced
  bin/pygrb/pycbc_pygrb_results_workflow
Labels: bug, PyGRB

#5026 Handling empty table in PyGRB
  bin/pygrb/pycbc_pygrb_page_tables
Labels: PyGRB

#5027 More robust pygrb_page_tables
  bin/pygrb/pycbc_pygrb_page_tables
  pycbc/results/pygrb_postprocessing_utils.py
Labels: work in progress, PyGRB
