Repository gwastro/pycbc, pull requests merged in 2025-05, with the labels that each got.

#5115 PyGRB: handling the 2 IFO case with the coherent search methods
  bin/pycbc_multi_inspiral
Labels: work in progress, PyGRB, v28_release_branch

#5118 PyGRB single IFO case fixes
  bin/pycbc_multi_inspiral
  bin/pygrb/pycbc_grb_trig_combiner
  pycbc/pnutils.py
  pycbc/results/pygrb_postprocessing_utils.py
Labels: bug, PyGRB, v28_release_branch

#5117 Add support for time and sky-marginalization when using the gated gaussian models
  examples/inference/time_marg_bhspec/expected_maxl-gw150914.json
  examples/inference/time_marg_bhspec/gw150914_hierarchical_gated.ini
  pycbc/inference/models/gated_gaussian_noise.py
  pycbc/inference/models/hierarchical.py
  pycbc/strain/gate.py
  pycbc/types/timeseries.py
  test/test_bhspec.py
Labels: inference

#5121 Fix bug in GatedGaussian and add MargPol unit tests
  pycbc/inference/models/gated_gaussian_noise.py
  test/test_infmodel.py
Labels: bug, inference

#5122 Add waveform transform to apply hypertriangle map
  pycbc/conversions.py
Labels: inference, LISA

#5129 Fix incorrect OSDF URL resolution
  pycbc/workflow/configuration.py
Labels: bug, v28_release_branch

#5127 PyGRB improvements suggested by reviewers
  bin/pycbc_multi_inspiral
  bin/pygrb/pycbc_make_offline_grb_workflow
  bin/pygrb/pycbc_pygrb_plot_chisq_veto
  pycbc/events/coherent.py
  pycbc/events/eventmgr.py
  pycbc/workflow/grb_utils.py
Labels: PyGRB, v28_release_branch

#5046 Bug fix: Adding min and max tau values for inverse td_model in p_tau function
  pycbc/population/population_models.py
Labels: bug, enhancement
